<nav class="navbar glass-nav">
  <div class="nav-brand">
    <span class="logo-text" (click)="rerender()"><span class="sifrwa7d">01</span>BLOG</span>
  </div>

  <div class="nav-actions">
    <button class="glass-btn-logout" routerLink="/create-post" title="Create Post">
      Create Post
    </button>
    <button class="glass-btn-logout" (click)="logout()" title="Logout">
      Logout
    </button>

    <button class="user-profile-btn" (click)="profileToggle()" title="Profile">
      <div class="user-profile">
        <span class="username">{{username}}</span>
        <div class="avatar-circle">
          <img src="{{imageUrl}}" alt="User avatar">
        </div>
      </div>
    </button>
  </div>
</nav>