:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 110px);
}



.instruction-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
  line-height: 1.5;
  text-align: left;
}

.info-message {
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.info-message.success {
  color: #c9e6c9;
  background-color: rgba(76, 175, 80, 0.2);
  border: 1px solid rgba(76, 175, 80, 0.4);
}

.info-message.error {
  color: #f17a7a;
  background-color: rgba(244, 67, 54, 0.2);
  border: 1px solid rgba(244, 67, 54, 0.4);
}

.login-footer {
  margin-top: 25px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

.back-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  display: block;
}

.back-link:hover {
  text-decoration: underline;
}