.login-footer {
    text-underline-offset: 4px;
    cursor: pointer;
    transition: all 0.2s;
}
.login-footer a:hover {
    color: var(--brand-600);
}

.forgot-password {
    cursor: pointer;
    transition: color 0.2s;
}
.forgot-password:hover {
    color: var(--stone-900);
}