
.topic-list {
    font-weight: 500;
    color: var(--stone-600);
    cursor: pointer;
    transition: color 0.2s, border-color 0.2s;
}

.topic-list li:hover {
    color: var(--brand-600);
    border-color: var(--brand-500);
}
